gsCMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
libs/cpprestsdk/
libs/mongo-c-driver/
libs/mongo-cxx-driver/
frontend/react-app/node_modules
node_modules