.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 100px;
}

.App-header {
  background-color: rgb(46, 46, 46);
  height: 180px;
  padding: 20px;
  color: rgb(121, 121, 121);
}

.App-content {
  background-color: rgb(168, 168, 168);
   height: 500px; 
  padding: 20px;
  color: rgb(0, 0, 0);
}

.App-intro {
  font-size: large;
}

.App-list-group{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.App-list-group tr:nth-child(even){background-color: #b4b2b2;}

.App-list-group tr:hover {background-color: rgb(255, 255, 255);}

.App-list-group th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: rgb(40, 43, 40);
  color: white;
}

.blackbox-form tbody {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(40, 43, 40);
  color: white;
}

.wide-screen-label-cell {
  display: none;
  text-align: right;
}
.mobile-screen-label-cell label {
  font-size: 13px;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .wide-screen-label-cell {
    display: block;
  }
  .mobile-screen-label-cell label {
    display: none;
  }
}

.blackbox-form .errors {
  color: red;
  font-size: 12px;
  font-style: italics;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
